<div class="container mt-5">
    <div class="row">
      <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
      </div>
    </div>
</div>
